.container {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

#branchheading {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 100px 20px 60px;
  background-color: #6c48f0;
  color: white;
  text-align: center;
  clip-path: ellipse(90% 100% at top);
}

.city-highlight {
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
}

.city-highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160px; /* Fixed width */
  height: 50%;
  background-color: rgba(255, 255, 255, 0.15); /* Light purple */
  z-index: -1; /* Behind text */
  border-radius: 4px;
}

.branch-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
  max-width: 800px;
  margin: auto;
}

.breadcrumb {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}
.breadcrumb a {
  color: #fff;
  text-decoration: none;
  opacity: 50%;
}

.branch-title {
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}

.city {
  display: block;
  font-size: 42px;
  font-weight: 600;
}

.branch-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}

.branch-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.enquire-btn {
  background: linear-gradient(263.28deg, #ff6a56 1.1%, #fdaf4d 141.83%);
  box-shadow: 0px 8px 30px 0px #0a021733;
  color: white;
  padding: 12px 24px;
  border: none;
  width: 160px;
  height: 48px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
}
.address-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #ffff;
  cursor: pointer;
}

.new {
  display: flex;
  align-items: center;
}
.down-arrow {
  cursor: pointer;
}

@media (max-width: 768px) {
  #branchheading {
    padding: 40px 15px;
    clip-path: ellipse(150% 100% at top);
  }
  .breadcrumb {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }
  .branch-buttons {
    display: flex;
    flex-direction: column;
  }
  .branch-buttons button {
    width: 232px;
    height: 48px;
  }
  .branch-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    padding: 25px;
  }
  .branch-description {
    font-weight: 350;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
  }
  .city {
    font-size: 26px;
  }
  .city-highlight::after {
    display: none;
  }
}
